<a href="https://colab.research.google.com/github/anasuya3/PYTHON/blob/main/Aug_Exercise_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

FIZZ BUZZ PROBLEM

In [ ]:
def fizzbuzz(n: int)-> str:
  if n % 3 == 0 and n % 5 == 0:
    return "FizzBuzz"
  if n % 3 == 0:
    return "Fizz"
  if n % 5 == 0:
    return "Buzz"
  return str(n)

In [ ]:
def bossfix(s: str)-> str:
  return "*"+s.upper()+"*"

for i in range(1, 40):
  print(bossfix(fizzbuzz(i)), end="")

* 1** 2** FIZZ** 4** BUZZ** FIZZ** 7** 8** FIZZ** BUZZ** 11** FIZZ** 13** 14** FIZZBUZZ** 16** 17** FIZZ** 19** BUZZ** FIZZ** 22** 23** FIZZ** BUZZ** 26** FIZZ** 28** 29** FIZZBUZZ** 31** 32** FIZZ** 34** BUZZ** FIZZ** 37** 38** FIZZ*

In [ ]:
def fizzbuzz(n: int)-> str:
  fb = " "
  if n % 3 == 0 and n % 5 == 0:
    fb += "FizzBuzz"
  elif n % 3 == 0:
    fb += "Fizz"
  elif n % 5 == 0:
    fb += "Buzz"
  else:
    fb += str(n)
  return fb

In [ ]:
for i in range(1, 40):
  print(fizzbuzz(i), end = ",")

 1, 2, Fizz, 4, Buzz, Fizz, 7, 8, Fizz, Buzz, 11, Fizz, 13, 14, FizzBuzz, 16, 17, Fizz, 19, Buzz, Fizz, 22, 23, Fizz, Buzz, 26, Fizz, 28, 29, FizzBuzz, 31, 32, Fizz, 34, Buzz, Fizz, 37, 38, Fizz,

In [ ]:
def fizzbuzz3(n: int)->str:
  fb = { (True, True) : "FizzBuzz",
         (True, False) : "Fizz",
         (False, True) : "Buzz",
         (False, False): str(n)
  }
  return fb[(n % 3 == 0, n % 5 == 0)]

In [ ]:
for i in range(1, 40):
  print(fizzbuzz3(i), end = ",")

1,2,Fizz,4,Buzz,Fizz,7,8,Fizz,Buzz,11,Fizz,13,14,FizzBuzz,16,17,Fizz,19,Buzz,Fizz,22,23,Fizz,Buzz,26,Fizz,28,29,FizzBuzz,31,32,Fizz,34,Buzz,Fizz,37,38,Fizz,

##Find the sum of all numbers which are equal to the sum of the factorial of 
##their digits.

In [ ]:
def fact(n: int)->int:
  return 1 if n==1 else n * fact(n-1)

In [ ]:
def sumOfDigits(n: int)->int:
  total = 0
  while n > 0 :
    total += fact(n % 10)
    n //= 10
  return total

In [ ]:
def IscuriousNumber(n: int)->bool:
  return n == sumOfDigits(n)

In [ ]:
IscuriousNumber(145)

True

##Generate the Amstrong numbers between two given numbers.

In [ ]:
def amstrongserise(start: int, end: int)->[int]:
  serise = []
  for num in range(start, end):
    if checkArmstrong(num):
      serise.append(num)
  return serise

In [ ]:
def checkArmstrong(num: int)->bool:
  temp = num
  arm = 0
  while num > 0:
    arm += (num % 10) ** len(str(temp))
    num //= 10
  return temp == arm

#checkArmstrong(153)

In [ ]:
amstrongserise(100, 10000)

[153, 370, 371, 407, 1634, 8208, 9474]

METHOD-2

In [ ]:
def is_armstrong(n: int)->bool:
  ds = digits(n)
  return n==sum(powers(ds, len(ds)))

In [ ]:
def digits(n: int)->[int]:
  return [int(ch) for ch in str(n)]

digits(153)

[1, 5, 3]

In [ ]:
def powers(ds: [int], p: int):
  return [d ** p for d in ds]

powers([1, 5, 3], 3)

[1, 125, 27]

In [ ]:
def makeArmstrong(start: int, limit: int):
  return filter(is_armstrong, range(start, limit))

In [ ]:
list(makeArmstrong(100, 1000))

[153, 370, 371, 407]

##Find the largest palindrome made from the product of two 3-digit numbers.

In [ ]:
def checkPalindrome(num : int)->bool:
  return str(num) == str(num)[::-1]

In [ ]:
def largestPalindrome()-> int:
  palindromes = []
  num = 0
  for x in range(999, 100, -1):
    for i in range(999, 100, -1):
      if len(str(i * x)) == 6:
        if checkPalindrome(i * x) and i * x > num:
          num = i * x
          palindromes.append(num)
  return palindromes
               
print(max(largestPalindrome()))

906609

Check a number is prime or not

In [ ]:
def is_prime(n: int)-> bool:
  if n in [2, 3, 5, 7]:
    return True
  if n < 2 or n % 2 == 0:
    return False
  i = 3
  while i <= n ** 0.5:
    if n % i == 0:
      return False
    i += 2
  return True

In [ ]:
print(is_prime(2))
print(is_prime(222))
print(is_prime(19))
print(is_prime(49))
print(is_prime(47))

True
False
True
False
True