<a href="https://colab.research.google.com/github/anasuya3/PYTHON/blob/main/Project_Euler_Problem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Multiples of 3 or 5##
Problem 1

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

In [ ]:
def isDivisible(n: int)-> bool:
  return n % 3 == 0 or n % 5 == 0

def sumOfMultiples(n: int)->int:
  return sum([i for i in range(1, n) if isDivisible(i)])

In [ ]:
print(sumOfMultiples(10))
print(sumOfMultiples(1000))

23
233168

In [ ]:
def isDivisible1(n: int)-> bool:
  return sum(range(3, n, 3)) + sum(range(5, n, 5)) - sum(range(15, n, 15))

isDivisible1(1000)

233168

In [ ]:
def isDivisible2(n: int)-> bool:
  return sum(set(range(3, n, 3)) | set(range(5, n, 5)))

isDivisible2(1000)

233168

##Even Fibonacci numbers##

Problem - 2

METHOD-1

In [ ]:
def fib_sequence(n : int)->[int]:
  a, b = 0, 1
  seq = []
  while a < n:
      seq.append(a)
      a, b = b, a + b
  return seq

#fib_sequence(10)

In [ ]:
def evenFibSum(n : int)->int:
  seq = fib_sequence(n)
  return sum([num for num in seq if num % 2 == 0])

In [ ]:
print(evenFibSum(10))
print(evenFibSum(4000000))

10
4613732

METHOD-2

In [ ]:
def even_fib(limit):
    a, b = 0, 1
    while a < limit:
        if not a % 2:
            #print(a)         
            yield a
        a, b = b, a + b

In [ ]:
print(sum(even_fib(4000000)))

4613732

##Largest prime factor
 
Problem 3

In [ ]:
def prime_factors(n):
    i = 2
    factors = []
    while i * i <= n:
        if n % i:
            i += 1
        else:
            n //= i
            factors.append(i)
    if n > 1:
        factors.append(n)
    return factors
p=prime_factors(600851475143)
print(p[-1])

6857

##Largest palindrome product

Problem 4

In [ ]:
def checkPalindrome(num : int)->bool:
  return str(num) == str(num)[::-1]

In [ ]:
def largestPalindrome()-> int:
  return max([i * x for i in range(999, 100, -1) for x in range(999, 100, -1) if checkPalindrome(i * x)])
                
print(largestPalindrome())

906609

##Smallest multiple

Problem 5

In [ ]:
def gcd(x,y): return y and gcd(y, x % y) or x
def lcm(x,y): return x * y / gcd(x,y)

n = 20
for i in range(1, 21):
     n = lcm(n, i)
print(int(n))

232792560

##Sum square difference

Problem 6

In [ ]:
def sumOfsquares(n: int)->int:
  return sum([ (i + 1) ** 2 for i in range(n)])

In [ ]:
def squareOfSum(n: int)->int:
  return sum([i + 1 for i in range(n)]) ** 2

In [ ]:
def sumSquareDiff(limit: int)->int:
  return squareOfSum(limit) - sumOfsquares(limit)
sumSquareDiff(100)

25164150

##10001st prime

Problem 7

In [ ]:
def nth_prime(n):
    counter = 2
    count = 0
    for i in range(3, n**2, 2):
        k = 1
        count +=1
        while k*k < i:
            k += 2
            if i % k == 0:
               break
        else:
          counter += 1
        if counter == n:
          return i, count

print(nth_prime(10001))

(104743, 52371)

In [ ]:
n=input("enter the nth prime ")
num=4
p=2

while p <int(n):
    if all(num%i!=0 for i in range(2,num)):
        p=p+1   
    num=num+1

print("nTH prime number: ",num-1)

enter the nth prime 10
nTH prime number:  29

In [ ]:
def hailstone_Sequence(n):
  lst=[]
  while(n>=1):
    if n%2:
      n=n*3+1
    else:
      n/=2
    lst.append(n)
  return lst

print(hailstone_Sequence(7))

In [ ]:
lst=range(10)
print(lst)

In [ ]:
def collatz_sequence(num):
  print(num)
  num= num/2 if num % 2 == 0 else num*3+1
  if(num==1):
    print(num)
    return 
  collatz_sequence(num)


collatz_sequence(13)